#volume-scrollbar {
  appearance: none;
  width: 150px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  padding: 4px;
  height: 24px;
  cursor: pointer;
  background: #2e88d3;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  background: #FFFFFF;
  cursor: pointer;
  appearance: none;
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 24px;
  padding: 0 4px;
  cursor: pointer;
  background: #2e88d3;
  border: none;
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: #FFFFFF;
  cursor: pointer;
  appearance: none;
  border: none; 
  outline: none;
  border-radius: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  padding: 4px;
  height: 24px;
  cursor: pointer;
  background: #2e88d3;
  border: 0;
}

input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  background: #FFFFFF;
  cursor: pointer;
  appearance: none;
}